<div class="cards">
  <% @bookings.each do |booking| %>
    <%= link_to plant_path(booking.plant), class: 'card-wrapper' do %>
      <div class="card clickable">
        <div class="card-img-top">
          <%= cl_image_tag booking.plant.photo, height: 225, width: 300, crop: :fill %>
        </div>
        <%= render './shared/avatar' %>
        <div class="card-body">
          <div class="card-info">
            <h5 class="card-title"><%= booking.plant.name %></h5>
            <p class="card-text">£<%= booking.plant.price %></p>
          </div>
          <div class="rating-container">
            <p class="card-text">Rating <%= @reviews %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

