<div class="cards">
  <% @bookings.each do |booking| %>
    <%= link_to plant_path(booking.plant), class: 'card-wrapper' do %>
      <div class="card clickable">
        <img src="<%= image_path 'snake_plant.png' %>" class="card-img-top" alt="...">
        <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        <div class="card-body">
          <div class="card-info">
            <h5 class="card-title"><%= booking.plant.name %></h5>
            <p class="card-text">£<%= booking.plant.price %></p>
          </div>
          <div class="rating-container">
            <p class="card-text">Rating <%= @reviews %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

