<div class="cards">
  <% @plants.each do |plant| %>
    <%= link_to plant_path(plant), class: 'card-wrapper' do %>
      <div class="card clickable">
        <div class="card-img-top">
          <%= cl_image_tag plant.photo, height: 225, width: 300, crop: :fill %>
        </div>
          <%= render './shared/avatar', user: plant.user %>
        <div class="card-body">
          <div class="card-info">
            <h5 class="card-title"><%= plant.name %></h5>
            <p class="card-text">£<%= plant.price %></p>
          </div>
          <div class="rating-container">
            <% plant.reviews.average_rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>
            <% (5 - plant.reviews.average_rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
