<div class="form container">
  <h1>Add a new plant</h1>
  <%= simple_form_for @plant do |f| %>
    <%= f.input :name  %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, class: "insert-photo" %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <%end %>
</div>