<div class="main-container">
  <div class="masthead">
    <div class="header">
      <h1>
        Renting plants has never been easier
      </h1>
      <h5>
        Plantza facilitates the rental of plants for all occassions. Jungle-themed birthday party? Temporary air purification? We've got you covered.
      </h5>
      <div class="search">
        <form>
          <div class="form-row">

          </div>
          <div class="form-group">
            <label for="inputPostcode">City</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Paris">
          </div>

        </form>
          <%= button_to "Search", plants_path, method: :get, class:'btn btn-primary all-plants' %>
      </div>
    </div>

  </div>
  <div class="how-it-works">
    <h2>
      How it works?
    </h2>
    <div id="steps">
      <div class="step">
        <%= image_tag "browse.png", alt: "alttext", id:"steps-img-resize" %>
        <p>
          Browse available plants near you; choose from over 100 different varieties.
        </p>
      </div>
      <div class="step">
        <%= image_tag "request.png", alt: "alttext", id:"steps-img-resize" %>
        <p>
          Submit a request to rent a plant; a gardener will get back to you shortly.
        </p>
      </div>
      <div class="step">
        <%= image_tag "delivery.png", alt: "alttext", id:"steps-img-resize" %>
        <p>
          If your request is accepted, your plant will be delivered; keep it alive!
        </p>
      </div>
    </div>
  </div>
  <div class="listing">
    <h2>
      Most popular plants
    </h2>
    <div class="cards">
      <% @top_plants.each do |plant| %>
        <%= link_to plant_path(plant), class: 'card-wrapper' do %>
          <div class="card clickable">
            <div class="card-img-top">
              <%= cl_image_tag plant.photo, height: 225, width: 300, crop: :fill %>
            </div>
            <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            <div class="card-body">
              <div class="card-info">
                <h5 class="card-title"><%= plant.name %></h5>
                <p class="card-text">£<%= plant.price %></p>
              </div>
              <div class="rating-container">
                <p class="card-text">Rating <%= @reviews %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
