<div class="main-container">
  <div class="masthead">
    <div class="header">
      <h1>
        Renting plants has never been easier
      </h1>
      <h5>
        Plantza facilitates the rental of plants for all occassions. Jungle-themed birthday party? Temporary air purification? We've got you covered.
      </h5>
      <div class="search">
        <h3>
          Start your search
        </h3>
          <%= form_tag plants_path, method: :get do %>
            <div class="form-row">
              <div class="col form-group">
                <label for="from">From</label>
                <%= date_field(:from, params[:search], class: "form-control") %>
              </div>
              <div class="col form-group">
                <label for="to">To</label>
                <%= date_field(:to, params[:search], class: "form-control") %>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Location</label>
              <%= text_field_tag :search,
                params[:search],
                class: "form-control",
                placeholder: "Enter an address"
              %>
            </div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>

  </div>
  <div class="how-it-works">
    <h2>
      How it works?
    </h2>
    <div id="steps">
      <div class="step">
        <%= image_tag "browse.png", alt: "alttext", id:"steps-img-resize" %>
        <p>
          Browse available plants near you; choose from hundreds of varieties.
        </p>
      </div>
      <div class="step">
        <%= image_tag "request.png", alt: "alttext", id:"steps-img-resize" %>
        <p>
          Submit a request to rent a plant; a gardener will get back to you shortly.
        </p>
      </div>
      <div class="step">
        <%= image_tag "delivery.png", alt: "alttext", id:"steps-img-resize" %>
        <p>
          If your request is accepted, your plant will be delivered; keep it alive!
        </p>
      </div>
    </div>
  </div>
  <div class="listing">
    <h2>
      Most popular plants
    </h2>
    <div class="cards">

      <% @top_plants.each do |plant| %>
        <%= link_to plant_path(plant), class: 'card-wrapper' do %>
          <div class="card clickable">
              <%= render './shared/avatar', user: plant.user %>
            <div class="card-img-top">
              <%= cl_image_tag plant.photo, height: 225, width: 300, crop: :fill %>
            </div>
            <div class="card-body">
              <div class="card-info">
                <h5 class="card-title"><%= plant.name %></h5>
                <p class="card-text">£<%= plant.price %></p>
              </div>
              <div class="rating-container">
                <p class="card-text">Rating <%= plant.reviews.average_rating %></p>
                <% plant.reviews.average_rating.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
                <% (5 - plant.reviews.average_rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
