<div class="container-fluid">
  <div class="plant-container">
    <div class="left-side-show carousel-imgs booking-form">
      <%= render './shared/carousel' %>
    </div>
    <div class="right-side-show plant-infos">
      <div class="main-info-show">
        <div class="plant-basic-info">
          <h1><%= @plant.name %></h1>
          <h3><%= @plant.address %>, (£<%= @plant.price %>)</h3>
        </div>
        <div class="additional-booking-details">
          <div class="user-info-show">
            <div class="show-avatar">
            <%= render './shared/avatar-show', user: @plant.user %>
            </div>
            <span class="user-contact-show">
            </span>
          </div>
          <div class="plant-description-show">
            <p><strong>Description</strong></p>
            <p><%= @plant.description %></p>
          </div>
          <div class="rating-container">
            <p class="card-text">Rating</p>
            <% @plant.reviews.average_rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>
            <% (5 - @plant.reviews.average_rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="proceeding-options">
        <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.input :start_date%>
          <%= f.input :end_date %>
          <div class="buttons-proceed">
            <%= f.button :submit, class: "btn-success" %>
            <%= link_to "Back to plants", plants_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="proceeding-options">
      <% unless @plant.user == current_user %>
          <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.input :start_date%>
          <%= f.input :end_date %>
      <div class="buttons-proceed">
        <%= f.button :submit, class: "btn-success" %>
        <%= link_to "Back to plants", plants_path, class: "btn btn-primary" %>
      <% end %>
      <% end %>
      <% if @plant.user == current_user %>
      <p><strong>Hey <%= current_user.firstname %>, this is your plant!</strong></p>
      <% end %>
      <% if policy(@plant).destroy? %>
      <%= link_to "Delete Plant", plant_path, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% if policy(@plant).update? %>
      <%= link_to "Update Plant", edit_plant_path, class: "btn btn-info" %>
      <% end %>
      </div>
    </div>                    
  </div>
  <div class="reviews-container">
    <div class="reviews-header">
      <h3><strong>Reviews</strong></h3>
      <% if current_user.reviews.find_by(plant: @plant).nil? %>
        <div class="reviews-btn btn btn-primary">
          <a href="#modal"> Leave a Review </a>
        </div>
      <% end %>
    </div>
    <% @plant.reviews.each do |review| %>
      <div class="review">
        <%= render './shared/avatar-show', user: review.user %>
        <p><%= review.content %></p>
      </div>
    <% end%>
    <div id="modal" class="popup">
      <%= render 'reviews/form', plant: @plant, review: @review %>
    </div>  
  </div>
</div>

