<div class="container-fluid">
  <div class="left-side-show carousel-imgs booking-form">
    <%= render './shared/carousel' %>
  </div>
  <div class="right-side-show plant-infos">
    <div class="main-info-show">
      <div class="plant-basic-info">
        <h1><%= @plant.name %></h1>
        <h3><%= @plant.address %>, (£<%= @plant.price %>)</h3>
      </div>
      <div class="additional-booking-details">
        <div class="user-info-show">
          <div class="show-avatar">
          <%= render './shared/avatar-show', user: @plant.user %>
          </div>
          <span class="user-contact-show">
          </span>
        </div>
        <div class="plant-description-show">
          <p><strong>Description</strong></p>
          <p><%= @plant.description %></p>
        </div>
      </div>
    </div>
    <div class="proceeding-options">
      <%= simple_form_for [@plant, @booking] do |f| %>
        <%= f.input :start_date%>
        <%= f.input :end_date %>
        <div class="buttons-proceed">
          <%= f.button :submit, class: "btn-success" %>
          <%= link_to "Back to plants", plants_path, class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>

<% if policy(@plant).destroy? %>
  <%= link_to "Delete Plant", plant_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
